NET "Q[5]" LOC = F9;
NET "Q[4]" LOC = E9;
NET "Q[3]" LOC = D11;
NET "Q[2]" LOC = C11;
NET "Q[1]" LOC = F11;
NET "Q[0]" LOC = E11;
NET "clk" LOC = C9;
NET "rst" LOC = V4;

# PlanAhead Generated IO constraints 

NET "rst" PULLDOWN;
