
# PlanAhead Generated physical constraints 

NET "i_clk" LOC = C9;
NET "i_fpga_mux_sel" LOC = L13;

# PlanAhead Generated IO constraints 

NET "i_fpga_mux_sel" PULLUP;

# PlanAhead Generated physical constraints 

NET "i_rst" LOC = L14;

# PlanAhead Generated IO constraints 

NET "i_rst" PULLUP;

# PlanAhead Generated physical constraints 

NET "o_fpga_mux_data[3]" LOC = F12;
NET "o_fpga_mux_data[2]" LOC = E12;
NET "o_fpga_mux_data[1]" LOC = F11;
NET "o_fpga_mux_data[0]" LOC = C11;
NET "o_valid_result" LOC = F9;
